<app-navbar></app-navbar>
<div class="py-5"></div>
<div class="container-fluid forum">
    <div class="row">
        <div class="col-md-4 categories bg-color-info mb-3">
            <div class="tags">
                <div class="btn-action d-flex justify-content-end" (click)="toggleCategory()">
                    <button type="button"
                        class="bg-color-default  border border-0 rounded-2 shadow-sm m-1"><mat-icon>visibility</mat-icon></button>
                </div>
                <div class="col-l filter" *ngIf="!iscategoryActive">
                    <div class="sidebar">
                        <div class="sidebar-item recent-posts">
                            <div class="sidebar-item tags">
                                <h3 class="sidebar-title color-default">Tags</h3>
                                <ul class="mt-3">
                                    <li (click)="filterForumByCategory('')">
                                        <a [class.active]="selectedCategory === ''"> Tout afficher </a>
                                    </li>
                                    <li *ngFor="let item of category" (click)="filterForumByCategory(item.name)">
                                        <a [class.active]="selectedCategory === item.name">{{item.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="online color-default">
                <p class="fw-bold">Nombre de participants en ligne : <span class="color-info"> 25 personnes </span></p>
                <div class="online-person d-flex flex-wrap mb-1">
                    <p class="participant">Nos</p>
                    <p class="participant">Butterfly</p>
                    <p class="participant">Kadi</p>
                    <p class="participant">callme-josha</p>
                    <p class="participant">Mami</p>
                    <p class="participant">Nobody</p>
                    <p class="participant">its_joss</p>
                    <p class="participant">its_joss</p>
                    <p class="participant">its_joss</p>
                </div>
            </div>

        </div>
        <div [ngClass]="iscategoryActive ? 'col-md-8' : 'col-md-8'" class="transition mb-3" style="background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);">
            <div class="">
                <div class="switch-container">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{ active: tab === 'forum' }"
                                (click)="switchTab('forum')">Publication</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{ active: tab === 'publish' }"
                                (click)="switchTab('publish')">Poster un sujet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{ active: tab === 'note' }"
                                (click)="switchTab('note')">Notes</a>
                        </li>
                    </ul>
                </div>
                <div class="py-"></div>
                <div class="content">
                    <div *ngIf="tab === 'forum'">
                        <div class="content padding">
                            <div class="row" *ngIf="!selectedCard">
                                <div class="col-12 mb-3" *ngFor="let card of cards">
                                    <div class="p-3 bg-color-white rounded-3" (click)="selectCard(card)">
                                        <div class="card-body">
                                            <div class="d-flex mb-3 flex0-column flex-sm-row align-items-start">
                                                <!-- Circle Icon Section -->
                                                <div
                                                    class="circle-icon mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
                                                    <img [src]="card.img" alt="img" class="img-fluid rounded-circle">
                                                </div>
                                                <!-- Info Section -->
                                                <div class="info ms-sm-4">
                                                    <div class="name fw-bold color-primary">{{card.username}}</div>
                                                    <div class="time text-muted">{{card.time}}</div>
                                                    <div class="titre">{{card.titre}}</div>
                                                </div>
                                               
                                            </div>
                                            <div class="d-sm-block d-md-flex justify-content-end">
                                                <div class="text-end">
                                                <p class="mb-0">dernier message par : <strong>Ami</strong></p>
                                                <time class="color-primary fw-bold"> <mat-icon>schedule</mat-icon>12 min</time>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedCard">
                            <div class="">
                                <div class="card-body">
                                    <div class="d-fle justify-content-nd">
                                    <button (click)="deselectCard()"
                                     class="bg-color-primary rounded-3 p-1 color-default border border-1 mb-3">
                                     <mat-icon>arrow_back</mat-icon> Retour</button>
                                </div>
                                    <div class="d-flex mb-2 flex0-column flex-sm-row align-items-start">
                                    <div
                                        class="circle-icon mb-sm-0 bg-white d-flex justify-content-center align-items-center">
                                        <img [src]="selectedCard.img" alt="img" class="img-fluid rounded-circle">
                                    </div>
                                    <div class="info ms-sm-4">
                                    <h4 class="color-primary">{{selectedCard.username}}</h4>
                                    <p class="mb-1">{{selectedCard.time}}</p>
                                </div>
                                    </div>
                                    <p><strong class="color-primary">Titre:</strong> {{selectedCard.titre}}</p>
                                    <p>{{selectedCard.message}}</p>

                                    <div class="reply-form bg-color-light mb-5">
                                        <h4 class="mb-4">Commentaire</h4>

                                        <div class="col-12 mb-3" *ngFor="let card of cards">
                                            <div class="border border-1 p-3 bg-color-white rounded-3">
                                                <div class="card-body">
                                                    <div class="d-flex flex0-column mb-1 flex-sm-row align-items-start">
                                                        <div
                                                            class="circle-icon mb-sm-0 d-flex justify-content-center align-items-center">
                                                            <img [src]="card.img" alt="img"
                                                                class="img-fluid rounded-circle">
                                                        </div>
                                                        <div class="info ms-sm-4">
                                                            <p class="name fw-bold color-primary mb-1">{{card.username}}
                                                            </p>
                                                            <p class="time text-muted">{{card.time}}</p>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="user-message">
                                                        <p class="message">{{card.message}}</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button
                                                        class="bg-color-primary border border-1 p-2 color-default">répondre</button>
                                                </div>
                                            </div>
                                        </div>
                                        <form>
                                            <div class="row mb-4">
                                                <div class="col form-group">
                                                    <label class="form-label">Message</label>
                                                    <textarea class="form-control" rows="8" cols="8"
                                                        placeholder="pour citer un utilisateur veuillez utiliser le hastag ex: @username .... "></textarea>
                                                </div>
                                            </div>
                                            <button type="submit"
                                                class="bg-color-primary border border-1 p-2 color-default rounded-2">Commenter</button>

                                        </form>

                                    </div>
                                </div>


                            </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="tab === 'publish'">
                        <div class="content padding">
                            <form action="">
                                <div class="form-input col-8 mb-3">
                                    <label class="form-label">Titre</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-6 col-6 mb-3">
                                    <label class="form-label">Choississez une Catégorie</label>
                                    <select class="form-select">
                                        <option selected disabled>Choississez une option</option>
                                        <option *ngFor="let option of Categories" [value]="option.value">{{
                                            option.label}}</option>
                                    </select>
                                </div>
                                <div class="row mb-4">
                                    <div class="col form-group">
                                        <label class="form-label">Contenu</label>
                                        <textarea class="form-control" rows="8" cols="8"
                                            placeholder="Votre message ici . . ."></textarea>
                                    </div>
                                </div>
                                <button type="submit"
                                    class="bg-color-primary border border-1 p-2 color-default rounded-2">Publié</button>

                            </form>
                        </div>
                    </div>
                    <div *ngIf="tab === 'note'">
                        <div class="content py-5">
                            <form action="">
                                <div class="form-input">
                                    <label class="form-label">Titre du sujet</label>
                                </div>
                                <div class="col-md-6 col-6 mb-3">
                                    <label class="form-label">Choississez une Catégorie</label>
                                    <select formControlName="category" class="form-select" required>
                                        <option selected disabled>Choississez une option</option>
                                        <option *ngFor="let option of Categories" [value]="option.value">{{
                                            option.label}}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

       
    </div>