<app-navbar></app-navbar>

<div class="container-fluid forum">
    <div class="toggle-btn" (click)="toggleCategory()">
        <button type="button" class="color-primary bg-transparent border border-0 fw-bold">
            <mat-icon>{{ isCategoryHidden ? 'menu_open' : 'menu' }}</mat-icon>
        </button>
    </div>
    <div class="categories bg-color-gradient"
        [ngClass]="{'hidden': isCategoryHidden && !isMobile, 'mobile-hidden': isCategoryHidden && isMobile}">
        <div class="tags" [ngClass]="isCategoryHidden ? 'col-lg-12' : 'col-md-12' ">
            <div class="d-flex justify-content-between mb-3">
                <div class="title-name color-default mt-2">
                    <h4 class="fw-bold">LE-GRIN</h4>
                </div>
                <div class="d-m-none btn-action d-flex justify-content-end">
                    <button type="button" class="bg-color-default border border-0 rounded-2 shadow-sm m-1"
                        (click)="toggleCategory()">
                        <mat-icon class="color-primary">{{ isCategoryHidden ? 'visibility' : 'visibility_off'
                            }}</mat-icon>
                    </button>
                </div>
            </div>
            <div class="filter">
                <div class="sidebar">
                    <div class="sidebar-item recent-posts">
                        <div class="sidebar-item tags">
                            <h3 class="sidebar-title color-default">Tags</h3>
                            <ul class="mt-3">
                                <li (click)="filterForumByCategory('')">
                                    <a class="color-default" [class.active]="selectedCategory === ''">
                                        Tout afficher </a>
                                </li>
                                <li *ngFor="let item of category" (click)="filterForumByCategory(item.name)">
                                    <a class="color-default"
                                        [class.active]="selectedCategory === item.name">{{item.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="online color-default">
            <p class="fw-bold">Nombre de participants en ligne : <span class="color-info"> 25 personnes </span></p>
            <div class="online-person d-flex flex-wrap mb-1">
                <p class="participant">Nos</p>
                <p class="participant">Butterfly</p>
                <p class="participant">Kadi</p>
                <p class="participant">callme-josha</p>
                <p class="participant">Mami</p>
                <p class="participant">Nobody</p>
                <p class="participant">its_joss</p>
                <p class="participant">its_mia</p>
                <p class="participant">not_me</p>
            </div>
        </div> -->
    </div>
    <div class="main-content" [ngClass]="{'expanded': isCategoryHidden}">
        <div class="switch-container bg-color-white">
            <ul class="nav nav-tabs justify-content-center align-items-center mb-0" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" type="button" [ngClass]="{ active: tab === 'forum' }"
                        (click)="switchTab('forum')">Publication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" type="button" [ngClass]="{ active: tab === 'publish' }"
                        (click)="switchTab('publish')">Poster</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" type="button" [ngClass]="{ active: tab === 'note' }"
                        (click)="switchTab('note')">Notes</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div *ngIf="tab === 'forum'">
                <div class="content padding">
                    <div class="mb-4" *ngIf="paginatedFolder.length ===0">Pas de poste pour le moment</div>
                    <div class="row" *ngIf="!selectedCard">
                        <div [ngClass]="isCategoryHidden ? 'col-lg-4 col-md-4 mb-3' : 'col-lg-4 col-md-6 mb-3' "
                            class="transition" type="button" *ngFor="let folder of paginatedFolder">
                            <div class="">
                                <div class="shadow-sm p-2 border border-1 bg-color" (click)="selectCard(folder)"
                                    style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    <div class="card-body">
                                        <div class="d-flex mb-3 flex0-column flex-sm-row align-items-start">
                                            <div
                                                class="circle-icon mb-3 mb-sm-0 d-flex bg-white justify-content-center align-items-center">
                                                <img [src]="folder.userProfileImageUrl" alt="img"
                                                    class="img-fluid rounded-circle">
                                            </div>
                                            <div class="info ms-sm-4 p-1">
                                                <div class="name fw-bold color-primary"
                                                    (click)="goToUserProfil(folder.user?.id)">
                                                    {{ folder.user?.username }}
                                                </div>
                                                <div class="time">{{folder.createdAt | date: 'yyyy-MM-dd HH:mm'}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title">{{folder.title}}</div>

                                    </div>
                                </div>
                                <div class="d-sm-block d-md-flex bg-color-gradient color-default p-2 justify-content-end"
                                    style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                    <div class="text-end">
                                        <h6 class="mb-1">Commentaires ({{ commentsCount[folder.id] || 0 }})</h6>
                                        <p class="mb-0" *ngIf="lastCommentDetails[folder.id]?.user"
                                            (click)="handleLastCommentClick(folder.id)">
                                            Dernier message par
                                            <strong>
                                                {{ lastCommentDetails[folder.id].user }}
                                            </strong>
                                        </p>
                                        <time class="fw-bold" *ngIf="lastCommentDetails[folder.id]?.time">
                                            <mat-icon>schedule</mat-icon> {{ lastCommentDetails[folder.id].time | date:
                                            'yyyy-MM-dd HH:mm' }}
                                        </time>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around mt-3">
                            <button class="bg-color-back p-2 border border-0 m-1 rounded-2 text-white" (click)="prevFolderPage()"
                                [disabled]="folderCurrentPage === 1">Préc</button>
                            <span>Page {{ folderCurrentPage }} of {{ folderTotalPage }}</span>
                            <button class="bg-color-back p-2 border border-0 m-1 rounded-2 text-white" (click)="nextFolderPage()"
                                [disabled]="folderCurrentPage === folderTotalPage">Suiv</button>
                        </div>
                        </div>
                    <!--selected post-->
                    <div *ngIf="selectedCard" class="selectedCard">
                        <div class="card-body">
                            <div class="position-fixed" style="right: 0px; bottom: 0px; z-index: 2;">
                                <button (click)="deselectCard()" class="btn btn-secondary mb-3">
                                    <mat-icon>arrow_back</mat-icon> Retour
                                </button>
                            </div>
                            <div class="d-flex mb-4 flex0-column flex-sm-row align-items-start">
                                <div class="circle-icon mb-sm-0 d-flex justify-content-center align-items-center">
                                    <img [src]="selectedCard.userProfileImageUrl" alt="img"
                                        class="img-fluid rounded-circle">
                                </div>
                                <div class="info ms-sm-4 p-1">
                                    <h4 class="color-primary fw-bold mb-0">{{selectedCard.user?.username}}</h4>
                                    <time class="time mb-1">{{selectedCard.createdAt | date: 'yyyy-MM-dd
                                        HH:mm'}}</time>
                                </div>
                            </div>
                            <div class="content mb-4">
                                <p><strong class="color-primary mb-0">Titre:</strong> {{selectedCard.title}}</p>
                                <div class="content edit-content mb-3">
                                    <ng-container class=" d-flex justify-content-end" *ngIf="!isEditing; else editMode">
                                        <p [innerHTML]="selectedCard?.content"></p>
                                        <button *ngIf="selectedCard?.user?.id === loggedInUserId"
                                            (click)="EditContent()" class="bg-transparent border border-0 m-1"><mat-icon
                                                class="color-primary">edit</mat-icon></button>
                                        <button *ngIf="selectedCard?.user?.id === loggedInUserId"
                                            (click)="deleteFolder()"
                                            class="bg-transparent border border-0 m-1"><mat-icon
                                                class="color-tertiary">delete</mat-icon></button>
                                    </ng-container>
                                    <ng-template #editMode>
                                        <textarea [(ngModel)]="editContent" class="form-control" rows="4"></textarea>
                                        <div class="btn-action d-flex justify-content-end ">
                                            <button (click)="EditFolderContent()"
                                                class="bg-color-primary rounded-2 p-2 text-white border border-0 m-1">Editer</button>
                                            <button (click)="cancelEdit()"
                                                class="btn btn-secondary m-1">Annuler</button>
                                        </div>
                                    </ng-template>
                                </div>
                                <div class="user-uploaded-file" *ngIf="selectedCard?.FolderUploadedFileUrl">
                                    <img [src]="selectedCard.FolderUploadedFileUrl" alt="img" class="img-fluid"
                                        width="400">
                                </div>
                            </div>
                            <div class="comment-form mb-5">
                                <div class="col-12 mb-3" #commentList>
                                    <h4 class="mb-4">({{ comments.length }}) Commentaires</h4>
                                    <div class="p-2 mb-5 bg-color-chat rounded-2 bordr border-2 shadow-sm"
                                        *ngFor="let comment of paginatedComments" [id]="'comment-' + comment.id"
                                        [ngClass]="{'highlight': comment.id === highlightCommentId}">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-end">
                                                <p class="time color-default fw-bold mb-0"> <em> {{comment.createdAt | date:
                                                    'yyyy-MM-dd
                                                    HH:mm'}} </em> </p> 
                                            </div>
                                            <div class="d-flex flex0-column mb-1 flex-sm-row align-items-start">
                                                <div class="circle-icon mb-sm-0 d-flex justify-content-center align-items-center">
                                                    <img [src]="comment.userProfileImageUrl" 
                                                         alt="img" 
                                                         class="img-fluid rounded-circle"
                                                       >
                                                  </div>
                                                <div class="user-comment-info ms-sm-4 p-1 " *ngIf="comment.user">
                                                    <p class="name fw-bold color-primary mb-0">{{comment.user.username}}
                                                    </p>

                                                    <p class="color-tertiary fw-bold"
                                                        (click)="showUserReply(comment.id)">
                                                        ({{comment.replies?.length || 0}}) réponse</p>
                                                </div>
                                            </div>
                                            <p> profil pic {{ comment.userProfileImageUrl }}</p>

                                            <!--user-replies-->
                                            <div class="user-replies"
                                                *ngIf="comment.replies?.length && isUserReplyVisible[comment.id]">
                                                <div class="reply" data-aos="fade-in">
                                                    <div class="bg-color-chat border border-1 rounded-2 mb-3 p-2 shadow-sm"
                                                        *ngFor="let reply of comment.replies" [id]="'reply-' + reply.id"
                                                        [ngClass]="{'highlight': reply.id === highlightReplyId}">
                                                        <div
                                                            class="d-flex flex0-column mb-1 flex-sm-row align-items-start">
                                                            <div class="small-circle-icon mb-sm-0 d-flex justify-content-center align-items-center">
                                                                <img [src]="reply.userProfileImageUrl" 
                                                                     alt="img" 
                                                                     class="img-fluid rounded-circle"
                                                                    >
                                                              </div>

                                                            <div class="reply-user-info ms-sm-4 mb-3 p-1 color-default">
                                                                <p class="mb-0"><strong>{{ reply.user.username
                                                                        }}</strong></p>
                                                                <p class="time color-default">{{ reply.createdAt
                                                                    | date: 'yyyy-MM-dd
                                                                    HH:mm' }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="content edit-content">
                                                            <ng-container *ngIf="!reply.isEditing; else editModeReply">
                                                                <p class="mb-3 color-default"
                                                                    [innerHTML]="getHighlightedContent(reply.content)">
                                                                </p>
                                                                <button *ngIf="reply.user?.id === loggedInUserId"
                                                                    (click)="editReply(reply)"
                                                                    class="bg-transparent border border-0 color-primary m-1"><mat-icon>edit</mat-icon></button>
                                                                <button *ngIf="reply.user?.id === loggedInUserId"
                                                                    (click)="deleteReply(reply.id)"
                                                                    class="bg-transparent border border-0 color-info m-1 "><mat-icon>delete</mat-icon></button>

                                                            </ng-container>
                                                            <ng-template #editModeReply>
                                                                <textarea [(ngModel)]="reply.editContent"
                                                                    class="form-control mb-2" rows="2"></textarea>
                                                                <input type="hidden" [(ngModel)]="reply.folderId" />
                                                                <button (click)="saveReply(reply)"
                                                                    class="bg-color-primary p-1 text-white border border-0 rounded-2 m-1">Editer</button>
                                                                <button (click)="cancelEditReply(reply)"
                                                                    class="bg-secondary rounded-2 p-1 text-white border border-0 m-1">Annuler</button>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="content edit-content">
                                                <ng-container *ngIf="!comment.isEditing; else editMode">
                                                    <p class=" color-default" [innerHTML]="comment.content"></p>
                                                    <hr>

                                                    <div class="d-flex justify-content-between">
                                                        <div class="left-side">
                                                            <button *ngIf="comment?.user?.id === loggedInUserId"
                                                                (click)="deleteComment(comment.id)"
                                                                class="bg-transparent border border-0 p-2 m-1 neutral"><mat-icon>delete</mat-icon></button>
                                                        </div>
                                                        <div class="right-side">
                                                            <button *ngIf="comment.user?.id === loggedInUserId"
                                                                (click)="editComment(comment)"
                                                                class="color-primary bg-color-tertiary border border-0 rounded-3 p-2 m-1 color-default">Editer</button>
                                                            <button (click)="replyToComment(comment.id)"
                                                                class="bg-color-primary border border-0 rounded-3 p-2 m-1 color-default">
                                                                Répondre
                                                            </button>
                                                        </div>
                                                    </div>

                                                </ng-container>
                                                <ng-template #editMode>
                                                    <textarea [(ngModel)]="comment.editContent" class="form-control mb-2"
                                                        rows="4"></textarea>
                                                    <div class="btn-action">
                                                        <button (click)="saveComment(comment)"
                                                            class="bg-color-primary rounded-2 p-1 text-white border border-0 m-1">Editer</button>
                                                        <button (click)="cancelEditComment(comment)"
                                                            class="bg-secondary rounded-2 p-1 text-white border border-0 m-1">Annuler</button>
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <!-- Reply box -->
                                        <div class="reply-box col-lg-12" *ngIf="replyingTo === comment.id"
                                            data-aos="fade-in">
                                            <form (ngSubmit)="submitReply()" #replyForm="ngForm">
                                                <div class=" form-group">
                                                    <label class="form-label" for="replyContent"></label>
                                                    <div class="position-relative">
                                                        <textarea id="replyContent" class="form-control mb-2" rows="2"
                                                            placeholder=" pour mentionner un pseudo utiliser @userpseudo votre message..."
                                                            [(ngModel)]="replyContent" name="replyContent"
                                                            (ngModelChange)="onReplyContentChange()"
                                                            required></textarea>
                                                        <!-- Suggestions list positioned absolutely within the relative container -->
                                                        <div *ngIf="userSuggestions.length > 0"
                                                            class="suggestions-list">
                                                            <ul>
                                                                <li class="color-primary"
                                                                    *ngFor="let user of userSuggestions"
                                                                    (click)="selectUser(user.username)">
                                                                    {{ user.username }}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit"
                                                    class="bg-color-tertiary border border-0 rounded-3 p-2 color-default rounded-2 m-1"
                                                    [disabled]="!replyForm.form.valid">
                                                    Valider
                                                </button>
                                                <button type="button" class="btn btn-secondary m-1"
                                                    (click)="cancelReply()">
                                                    Annuler
                                                </button>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-around mt-3">
                                        <button class="bg-color-back p-2 border border-0 m-1 rounded-2 text-white" (click)="prevCommentPage()"
                                            [disabled]="commentCurrentPage === 1">Préc</button>
                                        <span>Page {{ commentCurrentPage }} of {{ commentTotalPages }}</span>
                                        <button class="bg-color-back p-2 border border-0 m-1 rounded-2 text-white" (click)="nextCommentPage()"
                                            [disabled]="commentCurrentPage === commentTotalPages">Suiv</button>
                                    </div>
                                </div>
                            </div>
                            <!--comment box-->
                            <form (ngSubmit)="submitComment()" #commentForm="ngForm">
                                <div class="row mb-4">
                                    <div class="col form-group">
                                        <label class="form-label" for="commentContent">Message</label>
                                        <textarea id="commentContent" class="form-control" rows="8" cols="8"
                                            placeholder="votre message ...." [(ngModel)]="commentContent" name="content"
                                            required></textarea>
                                    </div>
                                </div>
                                <button type="submit"
                                    class="bg-color-primary border border-0 rounded-3 p-2 color-default rounded-2 mb-4"
                                    [disabled]="!commentForm.form.valid">
                                    Commenter
                                </button>
                            </form>
                        </div>
                    </div>
                
            </div>
</div>
            <div *ngIf="tab === 'publish'">
                <div class="content shadow-sm mt-2 mb-3 p-2  padding">
                    <form (ngSubmit)="onSubmit()" [formGroup]="folderForm">
                        <div class="form-input col-8 mb-3">
                            <label class="form-label">Titre</label>
                            <input type="text" class="form-control" formControlName="title" required>
                        </div>
                        <div class="col-md-6 col-6 mb-3">
                            <label class="form-label">Choississez une Catégorie</label>
                            <select class="form-select" formControlName="category" required>
                                <option selected disabled>Choississez une option</option>
                                <option *ngFor="let option of Categories" [value]="option.value">{{
                                    option.label}}</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-6 mb-3">
                            <label class="form-label">Image (facultative)</label>
                            <input type="file" class="form-control" #inputFile formControlName="uploadedFile"
                                (change)="chooseImage($event)" accept="image/png, image/jpeg, image/jpg" />
                        </div>
                        <div class="row mb-4">
                            <div class="col form-group">
                                <label class="form-label">Contenu</label>
                                <textarea class="form-control" formControlName="content" rows="8" cols="8"
                                    placeholder="Votre message ici . . ."></textarea>
                            </div>
                        </div>
                        <button type="submit"
                            class="bg-color-primary border border-0 rounded-2 p-2 color-default w-50">Poster</button>

                    </form>
                </div>
            </div>

            <div *ngIf="tab === 'note'">
                <div class="content padding">
                    <div class="mb-4" *ngIf="adminNotes.length === 0">Pas de note disponible.</div>
                    <!-- Display the list of notes if no note is selected -->
                    <div class="row" *ngIf="!selectedNote">
                        <div class="col-md-4 mb-3" *ngFor="let note of paginatedAdminNote">
                            <div class="card bg-color" (click)="selectNote(note)">
                                <div class="card-body">
                                    <span>Admin</span>
                                    <h3 class="fw-bold">{{ note.title }}</h3>
                                </div>
                            </div>
                        </div>
                       
                        <div class="d-flex justify-content-around mt-3">
                            <button class="bg-color-back p-2 border border-0 m-1 rounded-2 text-white" (click)="prevAdminPage()"
                                [disabled]="adminNotescurrentPage === 1">Préc</button>
                            <span>Page {{ adminNotescurrentPage }} of {{ adminNotesTotalPage }}</span>
                            <button class="bg-color-back p-2 border border-0 m-1 rounded-2 text-white" (click)="nextAdminPage()"
                                [disabled]="adminNotescurrentPage === adminNotesTotalPage">Suiv</button>
                        </div>

                    </div>
                    <!-- Display the selected note's details -->
                    <div *ngIf="selectedNote">
                        <div class="card-body">
                            <div class="position-fixed" style="right: 0px; bottom: 0px; z-index: 2;">
                                <button (click)="deselectNote()" class="btn btn-secondary mb-3">
                                    <mat-icon>arrow_back</mat-icon> Retour
                                </button>
                            </div>
                            <div class="info">
                                <div class="user-uploaded-file" *ngIf="selectedNote?.uploadedFileUrl">
                                    <img [src]="selectedNote.uploadedFileUrl" alt="Note Image" class="img-fluid"
                                        width="400">
                                </div>
                                <h3>{{ selectedNote.title }}</h3>
                                <p>{{ selectedNote.content }}</p>


                                <!-- <img *ngIf="selectedNote.uploadedFileUrl" [src]="selectedNote.uploadedFileUrl"
                                alt="Uploaded File" /> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>