<app-navbar></app-navbar>

<div class="container-fluid forum">
    <div class=" toggle-btn" (click)="toggleCategory()">
        <button type="button" class="color-primary bg-transparent border border-0 fw-bold">
            <mat-icon>{{ isCategoryHidden ? 'menu_open' : 'menu' }}</mat-icon>
        </button>
    </div>

    <div class="categories bg-color-gradient"
        [ngClass]="{'hidden': isCategoryHidden && !isMobile, 'mobile-hidden': isCategoryHidden && isMobile}">
        <div class="tags">
            <div class="d-md-none btn-action d-lg-flex justify-content-end">
                <button type="button" class="bg-color-default border border-0 rounded-2 shadow-sm m-1"
                    (click)="toggleCategory()">
                    <mat-icon>{{ isCategoryHidden ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
            </div>
            <div class="filter">
                <div class="sidebar">
                    <div class="sidebar-item recent-posts">
                        <div class="sidebar-item tags">
                            <h3 class="sidebar-title color-default">Tags</h3>
                            <ul class="mt-3">
                                <li (click)="filterForumByCategory('')">
                                    <a [class.active]="selectedCategory === ''"> Tout afficher </a>
                                </li>
                                <li *ngFor="let item of category" (click)="filterForumByCategory(item.name)">
                                    <a [class.active]="selectedCategory === item.name">{{item.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="online color-default">
            <p class="fw-bold">Nombre de participants en ligne : <span class="color-info"> 25 personnes </span></p>
            <div class="online-person d-flex flex-wrap mb-1">
                <p class="participant">Nos</p>
                <p class="participant">Butterfly</p>
                <p class="participant">Kadi</p>
                <p class="participant">callme-josha</p>
                <p class="participant">Mami</p>
                <p class="participant">Nobody</p>
                <p class="participant">its_joss</p>
                <p class="participant">its_mia</p>
                <p class="participant">not_me</p>
            </div>
        </div>
    </div>
    <div class="main-content" [ngClass]="{'expanded': isCategoryHidden}">
        <div class="switch-container bg-color-white">
            <ul class="nav nav-tabs justify-content-center align-items-center mb-0" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" type="button" [ngClass]="{ active: tab === 'forum' }"
                        (click)="switchTab('forum')">Publication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" type="button" [ngClass]="{ active: tab === 'publish' }"
                        (click)="switchTab('publish')">Poster</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" type="button" [ngClass]="{ active: tab === 'note' }"
                        (click)="switchTab('note')">Notes</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div *ngIf="tab === 'forum'">
                <div class="content padding">
                    <div class="row" *ngIf="!selectedCard">
                        <div class="col-md-6 mb-4" type="button" *ngFor="let folder of paginatedForum">
                            <div class="">
                                <div class=" p-2 border border-1 bg-color"
                                    style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    <div class="card-body">
                                        <div class="d-flex mb-3 flex0-column flex-sm-row align-items-start">
                                            <div
                                                class="circle-icon mb-3 mb-sm-0 d-flex bg-white justify-content-center align-items-center">
                                                <img [src]="folder.uploadedFileUrl" alt="img"
                                                    class="img-fluid rounded-circle">
                                            </div>
                                            <div class="info ms-sm-4">
                                                <div class="name fw-bold color-primary"  (click)="goToUserFolders(folder.user.id)">{{folder.user.username}}</div>
                                                <div class="time">{{folder.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="titre text-black" (click)="selectCard(folder)">{{folder.title}}</div>

                                    </div>
                                </div>
                                <div class="d-sm-block d-md-flex bg-color-gradient color-default p-2 justify-content-end"
                                    style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                    <div class="text-end">
                                        <h6 class="mb-1">Commentaires ({{ commentsCount[folder.id] || 0 }})</h6>
                                        <p class="mb-0" *ngIf="lastCommentDetails[folder.id]?.user"
                                        (click)="handleLastCommentClick(folder.id)">
                                            Dernier message par
                                            <strong>
                                                {{ lastCommentDetails[folder.id].user }}
                                              </strong>
                                        </p>
                                        <time class="fw-bold" *ngIf="lastCommentDetails[folder.id]?.time">
                                            <mat-icon>schedule</mat-icon> {{ lastCommentDetails[folder.id].time | date:
                                            'yyyy-MM-dd HH:mm:ss' }}
                                        </time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--selected post-->
                    <div *ngIf="selectedCard" class="selectedCard">
                        <div class="card-body">
                            <div class="position-fixed" style="right: 0px; bottom: 0px;">
                                <button (click)="deselectCard()" class="btn btn-secondary mb-3">
                                    <mat-icon>arrow_back</mat-icon> Retour
                                </button>
                            </div>
                            <div class="d-flex mb-2 flex0-column flex-sm-row align-items-start">
                                <div class="circle-icon mb-sm-0 d-flex justify-content-center align-items-center">
                                    <img [src]="selectedCard.uploadedFileUrl" alt="img"
                                        class="img-fluid rounded-circle">
                                </div>
                                <div class="info ms-sm-4">
                                    <h4 class="color-primary">{{selectedCard.user.username}}</h4>
                                    <time class="time mb-1">{{selectedCard.createdAt | date: 'yyyy-MM-dd
                                        HH:mm:ss'}}</time>
                                </div>
                            </div>
                            <p><strong class="color-primary">Titre:</strong> {{selectedCard.title}}</p>
                            <div class="content edit-content mb-3">
                                <ng-container *ngIf="!isEditing; else editMode">
                                    <p [innerHTML]="selectedCard?.content"></p>
                                    <button *ngIf="selectedCard?.user?.id === loggedInUserId" (click)="EditContent()"
                                        class="btn btn-danger">edit</button>
                                </ng-container>
                                <ng-template #editMode>
                                    <textarea [(ngModel)]="editContent" class="form-control" rows="4"></textarea>
                                    <button (click)="EditFolderContent()" class="btn btn-success m-1">Editer</button>
                                    <button (click)="cancelEdit()" class="btn btn-secondary m-1">Annuler</button>
                                </ng-template>
                            </div>
                            <div class="comment-form mb-5">
                                <div class="col-12 mb-3" #commentList>
                                    <h4 class="mb-4">({{ comments.length }}) Commentaire</h4>

                                    <div class="p-2 mb-3 bg-color rounded-3"
                                        style="box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;"
                                        *ngFor="let comment of comments" [id]="'comment-' + comment.id">
                                        <div class="card-body">
                                            <div class="d-flex flex0-column mb-1 flex-sm-row align-items-start">
                                                <div
                                                    class="circle-icon mb-sm-0 d-flex justify-content-center align-items-center">
                                                    <img [src]="comment.uploadedFileUrl" alt="img"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="user-comment-info ms-sm-4">
                                                    <p class="name fw-bold color-primary mb-1">{{comment.user.username}}
                                                    </p>
                                                    <p class="time text-default mb-0">{{comment.createdAt | date:
                                                        'yyyy-MM-dd
                                                        HH:mm:ss'}}</p>
                                                    <p class="color-info fw-bold" (click)="showUserReply()">({{comment.replies?.length || 0}}) réponse</p>
                                                    <!--user-replies-->
                                                    <div class="user-replies" *ngIf="comment.replies?.length">
                                                        <div class="reply" *ngIf="isUserReplyVisible">
                                                            <hr>
                                                            <div class="p-2 rounded-3 bg-color-white"
                                                                *ngFor="let reply of comment.replies">
                                                                <div
                                                                    class="d-flex flex0-column mb-1 flex-sm-row align-items-start">
                                                                    <div
                                                                        class="circle-icon bg-white mb-sm-0 d-flex justify-content-center align-items-center">
                                                                        <img [src]="reply.user.uploadedFileUrl"
                                                                            alt="img" class="img-fluid rounded-circle">
                                                                    </div>

                                                                    <div class="reply-user-info ms-sm-4">
                                                                        <p class="mb-0"><strong>{{ reply.user.username
                                                                                }}</strong></p>
                                                                        <p class="time text-default">{{ reply.createdAt
                                                                            | date: 'yyyy-MM-dd
                                                                            HH:mm' }}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="content edit-content">
                                                                    <ng-container
                                                                        *ngIf="!reply.isEditing; else editModeReply">
                                                                        <p class="mb-0"[innerHTML]="reply.content"></p>
                                                                        <button
                                                                            *ngIf="reply?.user?.Id === loggedInUserId"
                                                                            (click)="editReply(reply)"
                                                                            class="btn btn-secondary">Edit</button>
                                                                    </ng-container>
                                                                    <ng-template #editModeReply>
                                                                        <textarea [(ngModel)]="reply.editContent"
                                                                            class="form-control" rows="2"></textarea>
                                                                        <input type="hidden"
                                                                            [(ngModel)]="reply.folderId" />
                                                                        <button (click)="saveReply(reply)"
                                                                            class="btn btn-success m-1">Editer</button>
                                                                        <button (click)="cancelEditReply(reply)"
                                                                            class="btn btn-secondary m-1">Annuler</button>
                                                                    </ng-template>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="content edit-content">
                                                <ng-container *ngIf="!comment.isEditing; else editMode">
                                                    <p [innerHTML]="comment.content"></p>
                                                    <button *ngIf="comment?.user?.Id === loggedInUserId"
                                                        (click)="editComment(comment)"
                                                        class="btn btn-secondary">Edit</button>
                                                </ng-container>
                                                <ng-template #editMode>
                                                    <textarea [(ngModel)]="comment.editContent" class="form-control"
                                                        rows="4"></textarea>
                                                    <button (click)="saveComment(comment)"
                                                        class="btn btn-success m-1">Editer</button>
                                                    <button (click)="cancelEditComment(comment)"
                                                        class="btn btn-secondary m-1">Annuler</button>
                                                </ng-template>
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button (click)="replyToComment(comment.id)"
                                                class="bg-color-primary border border-0 rounded-3 p-2 color-default">
                                                Répondre
                                            </button>

                                        </div>
                                        <!-- Reply box -->
                                        <div *ngIf="replyingTo === comment.id">
                                            <form (ngSubmit)="submitReply()" #replyForm="ngForm">
                                                <div class="row mb-4">
                                                    <div class="col form-group">
                                                        <label class="form-label" for="replyContent">Reply</label>
                                                        <textarea id="replyContent" class="form-control" rows="4"
                                                            cols="8" placeholder="Your reply..."
                                                            [(ngModel)]="replyContent" name="replyContent"
                                                            required></textarea>
                                                    </div>
                                                </div>
                                                <button type="submit"
                                                    class="bg-color-primary border border-0 rounded-3 p-2 color-default rounded-2 m-1"
                                                    [disabled]="!replyForm.form.valid">
                                                    Répondre
                                                </button>
                                                <button type="button" class="btn btn-secondary m-1" (click)="cancelReply()">
                                                    Annuler
                                                </button>
                                            </form>
                                        </div>
                                    </div>



                                </div>
                            </div>



                            <!--comment box-->
                            <form (ngSubmit)="submitComment()" #commentForm="ngForm">
                                <div class="row mb-4">
                                    <div class="col form-group">
                                        <label class="form-label" for="commentContent">Message</label>
                                        <textarea id="commentContent" class="form-control" rows="8" cols="8"
                                            placeholder="Pour citer un utilisateur, veuillez utiliser le hashtag ex: @username ...."
                                            [(ngModel)]="commentContent" name="content" required></textarea>
                                    </div>
                                </div>
                                <button type="submit"
                                    class="bg-color-primary border border-0 rounded-3 p-2 color-default rounded-2 mb-4"
                                    [disabled]="!commentForm.form.valid">
                                    Commenter
                                </button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
            <div *ngIf="tab === 'publish'">
                <div class="content padding">
                    <form (ngSubmit)="onSubmit()" [formGroup]="folderForm">
                        <div class="form-input col-8 mb-3">
                            <label class="form-label">Titre</label>
                            <input type="text" class="form-control" formControlName="title" required>
                        </div>
                        <div class="col-md-6 col-6 mb-3">
                            <label class="form-label">Choississez une Catégorie</label>
                            <select class="form-select" formControlName="category" required>
                                <option selected disabled>Choississez une option</option>
                                <option *ngFor="let option of Categories" [value]="option.value">{{
                                    option.label}}</option>
                            </select>
                        </div>
                        <div class="row mb-4">
                            <div class="col form-group">
                                <label class="form-label">Contenu</label>
                                <textarea class="form-control" formControlName="content" rows="8" cols="8"
                                    placeholder="Votre message ici . . ."></textarea>
                            </div>
                        </div>
                        <button type="submit"
                            class="bg-color-primary border border-0 rounded-2 p-2 color-default w-50">Poster</button>

                    </form>
                </div>
            </div>
            <div *ngIf="tab === 'note'">
                <div class="content py-5">
                </div>
            </div>

        </div>
    </div>
</div>