
<div class="" *ngIf="isFormVisible" data-aos="fade-up">
<div class="card bg-color p-3" *ngIf="!isResettingPassword && !isCodeSent" data-aos="zoom-in">
  <form (ngSubmit)="onRequestReset()" #resetRequestForm="ngForm">
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Entrer votre email" required />
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button type="submit" class="btn btn-primary" [disabled]="resetRequestForm.invalid || isLoading">
       Envoyer un code
      </button>
      <div *ngIf="isLoading" class="spinner"></div>
    </div>
    <p *ngIf="message">{{ message }}</p>
  </form>
</div>

<div class="card bg-color p-3" *ngIf="isCodeSent && !isResettingPassword" data-aos="zoom-out">
  <form (ngSubmit)="verifyCode()" #verifyCodeForm="ngForm">
    <div class="mb-3">
      <label for="resetCode" class="form-label">Code de rénitialisation:</label>
      <input type="text" id="resetCode" class="form-control" [(ngModel)]="resetCode" name="resetCode" placeholder="Entrer le code envoyer par mail" required />
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button type="submit" class="btn btn-primary" [disabled]="verifyCodeForm.invalid || isLoading">
        Verifier le code
      </button>
      <div *ngIf="isLoading" class="spinner"></div>
    </div>
  </form>
</div>

<div class="card p-3 bg-color" *ngIf="isResettingPassword" data-aos="zoom-in">
  <form (ngSubmit)="onResetPassword()" #resetPasswordForm="ngForm">
    <div class="mb-2">
      <label for="password" class="form-label">Nouveau mot de passe:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required placeholder="******" />
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirmer mot de passe:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control" required placeholder="******" />
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button type="submit" class="btn btn-success" [disabled]="resetPasswordForm.invalid || isLoading">
      Valider
      </button>
      <div *ngIf="isLoading" class="spinner"></div>
    </div>
    <p *ngIf="message">{{ message }}</p>
  </form>
</div>
