<div class="py-4 mt-3"></div>

<div class="admin blog">
    <div class="container-fluid">
        <div class="position-fixed" style="right: 15px; z-index: 2;">
            <div class="sidebar-btn bg-color w-100 p-3">
                <button class="bg-color-primary p-2 border border-0 rounded-1 text-white" (click)="toggleCategory()"><mat-icon>checklist</mat-icon>
                    Catégorie</button>
            </div>
        </div>
        <div class="py-4 mb-5"></div>
        <div class="row">
            <div [ngClass]="iscategoryActive ? 'col-lg-12' : 'col-lg-8'" class="transition">
                <div class="">
                    <div class="card-body">
                        <div class="row posts-list">
                            <div [ngClass]="iscategoryActive ? 'col-md-6 col-6 col-lg-4 mb-4' : 'col-md-6 col-6 mb-4'"
                            class="transition" *ngFor="let folder of paginatedFolders">
                            <article class="bg-color">
                                <!-- Conditional image display -->
                                <div class="post-img mb-3" *ngIf="folder?.uploadedFileUrl">
                                    <img [src]="folder.uploadedFileUrl" alt="Folder Image" class="img-fluid">
                                </div>
                                <div class="info">
                                    <div class="mb-2">
                                        <h3>{{ folder.category }}</h3>
                                        <p class="name mb-2 fw-bold">{{ folder.title }}</p>
                                        <time>
                                            {{ folder.createdAt | date:'medium' }}
                                        </time>
                                   </div>
                       
                                         <div class="btn-action d-flex justify-content-end">
                                            <div class="remove mx-1">
                                                <button class="bg-danger border border-0 rounded-2 shadow-sm"
                                                    type="submit" (click)="deleteFolder(folder.id)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </div>
                                            <div class="modify mx-1">
                                                <button class="bg-primary border border-0 rounded-2 shadow-sm"
                                                    (click)="openDialog(folder)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </div>
                                    </div> 
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4" *ngIf="!iscategoryActive">
                <div class="sidebar bg-color shadow-sm p-2">
                    <div class="sidebar-item recent-posts">
                        <div class="d-flex justify-content-end">
                            <h6 class="fw-bold color-primary">filtrer</h6>
                        </div>
                        <div class="sidebar-item tags">
                            <h3 class="sidebar-title">Tags</h3>
                            <ul class="mt-3">
                                <li (click)="filterFoldersByCategory('')">
                                    <a class="color-secondary" [class.active]="selectedCategory === ''"> Tout afficher </a>
                                </li>
                                <li *ngFor="let item of category" (click)="filterFoldersByCategory(item.name)">
                                    <a class="color-secondary" [class.active]="selectedCategory === item.name">{{item.name}} </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="blog">
            <div class="blog-pagination">
                <ul class="justify-content-center">
                    <!-- Bouton Précédent -->
                    <li>
                        <button class="btn btn-link" (click)="previousPage()" [disabled]="currentPage === 1">
                            Préc
                        </button>
                    </li>

                    <!-- Boutons de pagination -->
                    <ng-container *ngFor="let pageNumber of visiblePageRange">
                        <li [class.active]="pageNumber === currentPage">
                            <a (click)="changePage(pageNumber)">{{ pageNumber }}</a>
                        </li>
                    </ng-container>

                    <!-- Bouton Suivant -->
                    <li>
                        <button class="btn btn-link" (click)="nextPage()" [disabled]="currentPage === getTotalPages()">
                            Suiv
                        </button>
                    </li>
                </ul>
            </div><!-- End blog pagination -->

        </div>
    </div>
</div>










<!-- 
(click)="deleteArticle(article._id)" -->
<!-- (click)="modifyArticle(article._id)" -->