<div class="bg-color">
  <div class="d-flex justify-content-end mb-2">
    <!-- <button class="close-button btn-outline-danger border border-1 btn"
        (click)="closeLoginPopup()"><mat-icon>close</mat-icon></button> -->
  </div>
  <div class="switch-container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" (click)="switchTab('login')" [class.active]="tab === 'login'">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="switchTab('signup')" [class.active]="tab === 'signup'">s'inscrire</a>
      </li>
    </ul>
  </div>
  <div class="py-3"></div>
  <div class="content p-3">
    <div *ngIf="tab === 'login'">
      <div class="login-popup-content">
        <h4 class="text-uppercase fw-bold h5 mb-3">Se connecter</h4>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
          <div class="form-input mb-3">
            <label class="form-label">Username</label>
            <input type="text" id="username" formControlName="username" placeholder="ex: username" class="form-control"
              required>
            <div *ngIf="usernameErrorMessage" class="text-danger">{{ userErrorMessage }}</div>
          </div>

          <div class="form-input mb-4">
            <label class="form-label">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control" required>
          </div>
          <!-- <div>
              <a (click)="openDialog()">mot de passe oublié ?</a>
            </div> -->
          <div class="btn-submit mb-2">
            <button type="submit" class="btn btn-success w-100">Connexion</button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="tab === 'signup'">
      <div class="login-popup-content">
        <h4 class="text-uppercase fw-bold h5 mb-3">S'inscrire</h4>
        <form (ngSubmit)="signup()" [formGroup]="signupForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">email</label>
              <input type="email" class="form-control" formControlName="Newemail" placeholder="ex:user@example.com"
                required>
              <div *ngIf="emailErrorMessage" class="text-danger">{{ emailErrorMessage }}</div>

            </div>
            <label for="gender">Genre</label>
            <select id="gender" class="form-select" formControlName="gender" required>
              <option value="">Selectionner un genre</option>
              <option value="Homme">Homme</option>
              <option value="Femme">Femme</option>
              <option value="Autre">Autre</option>
              <div *ngIf="genderErrorMessage" class="text-danger">{{ genderErrorMessage }}</div>
            </select>
            <div class="col-md-6 mb-3">
              <label class="form-label">Username</label>
              <input type="text" id="username" placeholder="ex: user00" formControlName="Newusername"
                class="form-control" required>
              <div *ngIf="usernameErrorMessage" class="text-danger">{{ usernameErrorMessage }}</div>
            </div>
          </div>
          <div class="form-input mb-4">
            <label class="form-label">Password</label>
            <input type="password" id="password" formControlName="Newpassword" class="form-control" required>
          </div>
          <div class="btn-submit mb-2">
            <button type="submit" class="btn btn-success w-100">S'inscrire</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>