<app-navbar></app-navbar>
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center">
    <app-top></app-top>
</section>

<section id="about" class="about">
    <app-about-us></app-about-us>
</section>

<section id="services" class="services">
    <app-our-services></app-our-services>
</section>

<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
        <div class="col-md-12">
        </div>
    </div>
</section>

<section id="pregnancy" class="features">
    <app-features></app-features>
</section>


<section>
    <app-footer></app-footer>
</section>