<div class="container-fluid">
    <div class="section-content">
        <div class="text-center section-title">
            <h2 class="fw-bold text-uppercase position-relative fs-5">A propos</h2>
            <p class="text-muted fs-5"> Qui sommes-nous ?</p>
        </div>
    </div>
    <div class="padding">
        <div class="row">
            <div class="col-md-6 mb-3" data-aos="fade-right">
                <div class="custom-bg position-relative">
                    <img src="https://firebasestorage.googleapis.com/v0/b/store-img-e8d36.appspot.com/o/TheGrin%2Fabout-us%20(2).jpg?alt=media&token=cbd75b02-08ce-4632-9a62-7c12e0c76bbc"
                        class="img-fluid custom-img" alt="img">
                </div>
            </div>

            <div class="col-md-6 mb-3" data-aos="fade-left">
                <div class="content info">
                    <div class="title">
                        <h3 class="fw-bold"> </h3>
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page</p>

                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page</p>

               
                </div>
            </div>
            <!-- <div class="col-md-4 m-auto mb-3" data-aos="fade-right">
                <div class="custom-bg position-relative">
                    <img src="https://firebasestorage.googleapis.com/v0/b/store-img-e8d36.appspot.com/o/TheGrin%2Fabout-us%20(2).jpg?alt=media&token=cbd75b02-08ce-4632-9a62-7c12e0c76bbc"
                        class="img-fluid" alt="img">
                </div>
            </div> -->
        </div>
    </div>
</div>