<div class="container-fluid">
    <div class="section-content">
        <div class="text-center section-title">
            <h2 class="fw-bold text-uppercase position-relative fs-5">Fertilité</h2>
            <p class="text-muted fs-5"> Suivi règle et santé bébé</p>
        </div>
    </div>
    <div class="extra-padding">
        <div class="row" data-aos="fade-left">
            <div class="col-md-6 m-aut mb-3">
                <div class="content info">
                    <div class="title mb-3">
                        <h1 class="fw-bold color-primary"> CALCULER MES CYCLES </h1>
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page</p>
            </div>
           
        </div>
        <div class="col-md-6 m-auto mb-3 d-none d-sm-block">
            <div class="custom-bg position-relative">
                <img src="https://firebasestorage.googleapis.com/v0/b/store-img-e8d36.appspot.com/o/TheGrin%2Ffeature-1.jpg?alt=media&token=c5e44df5-1e9a-43e4-9e45-a51ef12fe81c"
                    class="img-fluid custom-img" alt="img">
            </div>
        </div>
    </div>

    <div class="row"  data-aos="fade-right">
        <div class="col-md-6 m-auto mb-3 d-none d-sm-block">
            <div class="custom-bg position-relative">
                <img src="https://firebasestorage.googleapis.com/v0/b/store-img-e8d36.appspot.com/o/TheGrin%2Ffeature-2.jpg?alt=media&token=21091ff4-5544-40d4-8a24-cad54e21407e"
                    class="img-fluid custom-img" alt="img">
            </div>
        </div>
        <div class="col-md-6 m-aut mb-3">
            <div class="content info">
                <div class="title">
                    <h1 class="fw-bold color-primary"> SANTE DU BEBE</h1>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page</p>
        </div>
       
    </div>
   
</div>
</div>