@media (prefers-color-scheme: dark) {

  /* Add your dark mode styles here */
  body {
    background: var(--color-secondary) !important;
    color: #fff !important;
  }

  /* Menu links in dark mode */
  .global-nav.dark-mode.scrolled a,
  .global-nav.dark-mode.scrolled a:focus,
  .global-nav.dark-mode.scrolled a:hover,
  .global-nav.dark-mode.scrolled .active,
  .global-nav.dark-mode.scrolled .active:focus,
  .global-nav.dark-mode.scrolled li:hover>a {
    color: #fff !important;
    /* Change the color to white */
  }

  @media (max-width: 992px) {

    .goog-te-gadget .goog-te-combo,
    .navbar a,
    .navbar a:focus,
    .header .logo h1,
    .mobile-nav-toggle {
      color: var(--text-color-dark) !important;
    }

    .navbar .navbar-collapse {
      background-color: rgba(0, 0, 0, 0.5) !important;
      padding: 5px;
    }

  }

  h1,
  h3,
  h4,
  h6 {
    color: #fff !important;
    font-weight: 600 !important;
  }

  .section-title h2,
  .section-title p,
  .forum .nav-item .nav-link,
  ::placeholder,
  .form-select,
  ::selection,
  .form-label,
  :-ms-input-placeholder,
  .info p,
  .sidebar .mat-nav a,
  mat-expansion-indicator {
    color: #fff !important;
  }

  .time {
    color: var(--color-info) !important;
  }

  .bg-color,
  .admin .circle-icon {
    background-color: #212121 !important;
    color: #fff !important;
  }

  .form-select,
  .form-control,
  ::placeholder,
  .bg-color-white,
  .size,
  .sidebar .list-group-item,
  .sidebar mat-expansion-panel {
    background-color: transparent;
    background: #2a2929 !important;
    color: #fff !important;
  }

  .hero {
    background-image: linear-gradient(to top, #7c0bbd 0%, #7f0255 100%) !important;

  }

  .bg-color-gradient {
    /* background: linear-gradient(90deg, #013b74, #640141) !important; */
    background: linear-gradient(90deg, #9e0538, #003b43) !important;
  }

  .bg-color-chat {
    background: linear-gradient(90deg, #04788966, #80022ca7) !important;
  }

  #sidebar-wrapper,
  .bg-unique {
    background: linear-gradient(90deg, #555454a7, #013439) !important;
  }

  .color-secondary {
    color: #fff !important;
  }

  .bg-color-light {
    background: #262626 !important;
  }




  .bg-sender {
    background: #01353c9f !important;
  }

  .bg-recipient {
    background: #4e011b !important;
  }

}