<app-navbar></app-navbar>
<section id="global-header" class="store-bg" style="">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto mb-4">
        <div class="block text-left mb-4">
          <h2 class="mb-4 fw-bold h1">THL-SHOP</h2>
          <h5>
            Explorez notre gamme complète de panneaux solaires, équipements solaires, accessoires onduleurs et solutions
            innovantes en énergie verte. </h5>

          <h5> Trouvez tout ce dont vous avez besoin pour votre projet d'énergie renouvelable
            chez nous.</h5>

        </div>
        <div class="explore">
          <button class="btn btn-warning text-white">Explorer</button>
          <button class="btn btn-primary ">Contactez-nous</button>
        </div>
      </div>

      <div class="col-md-6 m-auto mb-4 d-none d-sm-block">
        <div class="shop position-relative d-flex align-items-center justify-content-center">
                  <div class="shop-now d-flex align-items-center justify-content-center">
          <img src="https://firebasestorage.googleapis.com/v0/b/store-img-f8a4b.appspot.com/o/thl%20technologies%2Fshop.png?alt=media&token=8fa06fab-1181-4132-929b-8a0c6deaa548"
               alt="img" class="img-fluid zoom-in">
        </div>
        <!-- <div class="small-circle zoom-i">
          <div class="image-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/store-img-f8a4b.appspot.com/o/thl%20technologies%2Fshop-1.jpg?alt=media&token=10677e78-3362-4584-b659-0db330bf16d8"
             alt="img" class="img-fluid">
          </div>
          <div class="image-2">
            <img src="https://firebasestorage.googleapis.com/v0/b/store-img-f8a4b.appspot.com/o/thl%20technologies%2Fshop-2.png?alt=media&token=3146fd26-1618-489f-96fd-ab31b8e07991"
            alt="img" class="img-fluid">
            </div>
          <div class="image-3">
            <img src="https://firebasestorage.googleapis.com/v0/b/store-img-f8a4b.appspot.com/o/thl%20technologies%2Fshop-1.jpg?alt=media&token=10677e78-3362-4584-b659-0db330bf16d8"
            alt="img" class="img-fluid">
          </div>
          <div class="image-4">
            <img src="https://firebasestorage.googleapis.com/v0/b/store-img-f8a4b.appspot.com/o/thl%20technologies%2Fshop-1.jpg?alt=media&token=10677e78-3362-4584-b659-0db330bf16d8"
            alt="img" class="img-fluid">
          </div>
        </div> -->
      </div>
      </div>

  </div>
  </div>
</section>

<section class="store-product" id="product">
  <app-product></app-product>
</section>