<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 order-2 order-lg-1 m-auto">
            <div class="info color-default">
                <h1 class="fw-bold">VOTRE DOCTEUR A VOTRE ECOUTE</h1>
                <p> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model
                    text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various
                    versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour
                    and the like).</p>
                <h3></h3>
                <div class="explore d-flex">
                    <button class="btn btn-primary text-white shadow w- m-1 w-50" (click)="openDialog()">Contactez-nous</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 custom-img mb-5 order-1 order-lg-2 d-none d-sm-block">
            <div class="hero-bg">
                <img src="https://firebasestorage.googleapis.com/v0/b/store-img-e8d36.appspot.com/o/TheGrin%2Fhero-bg.png?alt=media&token=4f6bd4ea-3157-4b28-814c-9ba74817942d"
                    alt="img" class="w-100 shadow- img-fluid">
            </div>
        </div>
    </div>
</div>