<!-- Navbar -->
<nav class="navbar global-nav navbar-expand-lg fixed-top"
  [ngClass]="{'bg-color-gradient': showOtherNavbar, 'color-default': showOtherNavbar}">
  <div class="container-fluid">
    <a routerLink="/homepage" class="navbar-brand  me-1">
      <h4 class="color-default fw-bold">LE-GRIN</h4>
    </a>
    <button class="navbar-toggler ms-auto" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <i class="fa fa-bars text-center"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" [ngbCollapse]="isNavbarCollapsed"
      id="navbarSupportedContent">
      <!-- Home Navbar -->
      <ul class="navbar-nav menu align-items-end" *ngIf="showHomeNavbar">
        <li><a href="#hero" class="active">Accueil</a></li>
        <li><a href="#about">A propos</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#pregnancy">fertilité</a></li>
        <li><a routerLink="/chat" routerLinkActive="active" (click)="switchToOtherNavbar()">Forum</a></li>
        <li><a routerLink="/store" routerLinkActive="active" (click)="switchToStoreNavbar()">Boutique</a></li>
      </ul>
      <!-- Other Navbar -->
      <ul class="navbar-nav menu align-items-end" *ngIf="showOtherNavbar">
        <div class="avatar">
          <button class="bg-transparent border border-0 text-white" routerLink="/homepage"> <mat-icon>home</mat-icon>
          </button>
        </div>
        <button *ngIf="!IsUserLogged" class="border border-0 bg-color-white bg-transparent color-default" (click)="loginUser()">
          <li><a>
              Se connecter</a></li>
        </button>

        <div class="d-flex" *ngIf="IsUserLogged">
          <div class="avatar" (click)="goToUserProfil()">
            <button class="bg-color-white border border-0"> <mat-icon>account_circle</mat-icon>
            </button>
          </div>
          <div class="avatar" (click)="openEnd(content)">
            <button class="notification-count bg-color-white border border-0"
             matBadge="{{notificationCount}}"
              [matBadgeHidden]="notificationCount === 0" matBadgeColor="accent">
              <mat-icon class="text-primary">notifications</mat-icon>
            </button>
          </div>
          <div class="avatar">
            <button class="bg-color-white border border-0 text-success"> <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
          <div class="avatar">
            <button class="bg-color-white border border-0 text-danger" (click)="logout()"> <mat-icon>logout</mat-icon> </button>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>




<!-- <div class="login-popup bg-color" *ngIf="showLoginPopup">
  <div class="d-flex justify-content-end mb-2">
    <button class="close-button btn-outline-danger border border-1 btn"
      (click)="closeLoginPopup()"><mat-icon>close</mat-icon></button>
  </div>
  <div class="switch-container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" (click)="switchTab('login')" [class.active]="tab === 'login'">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="switchTab('signup')" [class.active]="tab === 'signup'">s'inscrire</a>
      </li>
    </ul>
  </div>
  <div class="py-3"></div-->
<!-- <div class="content">
    <div *ngIf="tab === 'login'">
      <div class="login-popup-content">
        <h4 class="text-uppercase fw-bold h5 mb-3">Se connecter</h4>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
          <div class="form-input mb-3">
            <label class="form-label">Username</label>
            <input type="text" id="username" formControlName="username" placeholder="ex: username" class="form-control"
              required>
            <div *ngIf="usernameErrorMessage" class="text-danger">{{ userErrorMessage }}</div>
          </div>

          <div class="form-input mb-4">
            <label class="form-label">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control" required>
          </div>
          <div>
            <a (click)="openDialog()">mot de passe oublié ?</a>
          </div>
          <div class="btn-submit mb-2">
            <button type="submit" class="btn btn-success w-100">Connexion</button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="tab === 'signup'">
      <div class="login-popup-content">
        <h4 class="text-uppercase fw-bold h5 mb-3">S'inscrire</h4>
        <form (ngSubmit)="signup()" [formGroup]="signupForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">email</label>
              <input type="email" class="form-control" formControlName="Newemail" placeholder="ex:user@example.com"
                required>
              <div *ngIf="emailErrorMessage" class="text-danger">{{ emailErrorMessage }}</div>

            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Username</label>
              <input type="text" id="username" placeholder="ex: user00" formControlName="Newusername"
                class="form-control" required>
              <div *ngIf="usernameErrorMessage" class="text-danger">{{ usernameErrorMessage }}</div>
            </div>
          </div>
          <div class="form-input mb-4">
            <label class="form-label">Password</label>
            <input type="password" id="password" formControlName="Newpassword" class="form-control" required>
          </div>
          <div class="btn-submit mb-2">
            <button type="submit" class="btn btn-success w-100">S'inscrire</button>
          </div>
        </form>
      </div>
    </div> 
  </div> 

</div> -->

<!-- <div *ngIf="userCart">
  <h2>Votre panier</h2>
  <ul>
    <li *ngFor="let item of userCart.items">
      {{ item.product.name }} - Quantité: {{ item.quantity }} - Prix unitaire: {{ item.product.price }}
    </li>
  </ul>
</div> -->



  





<ng-container>
<ng-template #content let-offcanvas>
  <div class="bg-color-light">
    <div class="offcanvas-header justify-content-between">
      <h4 class="offcanvas-title fw-bold">Notifications</h4>
    <button type="button" class="btn btn-outline-primary d-lg-flex d-md-none" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"><mat-icon>close</mat-icon></button>
    </div>

    <div class="container-fluid">
      <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-danger fw-bold m-1" (click)="deleteAllNotifications()"><mat-icon>delete</mat-icon>
         </button>
      <button type="button" class="btn btn-primary m-1 d-lg-none" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"><mat-icon>close</mat-icon></button>

      </div>

      <div class="row">
        <ng-container *ngIf="notifications.length > 0; else noNotifications">
          <div class="scrollab">
            <div class="col-12 mb-2" *ngFor="let notification of notifications; let i = index"
              [ngClass]="{'bg-color-new': !notification.read, 'bg-color-read': notification.read}"
              (click)="onNotificationClick(notification.id)"
              style="cursor: pointer;" (swipeleft)="DeleteNotification(notification.id)"
              class="notification-item bg-color shadow-sm border border-1">
              <div class="p-2">
                <time class="color-primary fw-bold">{{notification.createdAt | date: 'dd-MM-yyyy
                  HH:mm'}}</time>
                <p>{{notification.message}}</p>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- Display message when there are no notifications -->
        <ng-template #noNotifications>
          <div class="col-12 text-center">
            <p>pas de notifications pour le moment</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>

</ng-container>