.admin-sidebar .sidebar .cActive {
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/*-----------------------------
--------------SIDEBAR--------------*/

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  z-index: 999;
  overflow-y: auto;
  position: fixed;
  /* background: linear-gradient(90deg, #ffffffa7, #03626e9f); 

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;

  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.sidebar-logo {
  position: absolute;
  bottom: 0;
  margin-bottom: 6px;
  left: 50%;
  z-index: 1000;
  margin-left: -35px;
}

.sidebar .mat-nav a {
  text-align: center !important;

}


.sidebar .list-group-item,
.sidebar mat-expansion-panel {
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 30px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.sidebar mat-expansion-panel-header {
  right: 10px;
}

.sidebar mat-expansion-panel-header span {
  font-size: 1em;
}  
