<!-- <div class="d-flex admin-sidebar" id="wrapper">

  <div class="sidebar" id="sidebar-wrapper">
    <div class="group-list">
      <div class="list-group list-group-flush mx-2 py-5 mt-4">
       
         <a class="list-group-item list-group-item-action" (click)="switchMemu(0)" role="button" [ngClass]="
        stateList[0] === true ? 'nav-link cActive' : 'nav-link link-white'">
          <mat-icon>add_circle</mat-icon>
          &nbsp; ajouter article
        </a> 
         <a class="list-group-item list-group-item-action" (click)="switchMemu(1)" role="button" [ngClass]="
        stateList[1] === true ? 'nav-link cActive' : 'nav-link link-white'">
          <mat-icon>edit_note</mat-icon>
          &nbsp; Modifier article
        </a> 
      </div>
    </div>

    <div class="sidebar-logo">
      <img src="assets/logo.png" alt="" width="55">
    </div>

  </div>
</div> -->

<div class="d-flex admin-sidebar bg-color-light" id="wrapper">

  <div class="sidebar" id="sidebar-wrapper">
    <div class="group-list">
      <div class="list-group list-group-flush mx-2 py-5 mt-4">
        <ng-container *ngFor="let menuItem of menuItems">

          <ng-container *ngIf="menuItem.subitems && menuItem.subitems.length > 0; else noSubitems">

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-icon>{{ menuItem.icon }}</mat-icon>
                &nbsp;&nbsp;
                <span> {{ menuItem.label }} </span>
              </mat-expansion-panel-header>

              <mat-nav-list class="mat-nav">
                <a *ngFor="let subitem of menuItem.subitems"
                  class="panel-content list-group-item list-group-item-action" (click)="switchMemu(subitem.index)"
                  role="button"
                  [ngClass]="stateList[subitem.index] === true ? 'nav-link cActive' : 'nav-link link-white'">
                  {{ subitem.label }}
                </a>
              </mat-nav-list>
            </mat-expansion-panel>
          </ng-container>

          <ng-template #noSubitems>
            <a class="list-group-item list-group-item-action" (click)="switchMemu(menuItem.index)" role="button"
              [ngClass]="stateList[menuItem.index] === true ? 'nav-link cActive' : 'nav-link link-white'">
              <mat-icon>{{ menuItem.icon }}</mat-icon>
              &nbsp; {{ menuItem.label }}
            </a>
          </ng-template>
        </ng-container>

        <div class="sidebar-logo">
          <img src="assets/logo.png" alt="" width="55">
        </div>
    
      </div>
    </div>